 .data_body_products_detail{
    width: 0%;
}
/*
.data_body_products_detail .body_product_card .order_body_first{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
}

.data_body_products_detail .body_product_card .order_body_two{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
    margin-top: 20px;
}
.data_body_products_detail .body_product_card .order_body_three{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
    margin-top: 20px;
}
.data_body_products_detail .body_product_card .order_body_four{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
    margin-top: 20px;
}
.data_body_products_detail .body_product_card .order_body_five{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
    margin-top: 20px;
}
.data_body_products_detail .body_product_card p{
    width: 150px;
    height: 40px;
    padding-top: 10px;
}
.data_body_products_detail .body_product_card{
    margin: 20px 0px;
}
.effect_loose{
    display: flex;
    justify-content: center;
    width: 200px;
    align-items: center;
    text-align: center;
} */

.header_product_card h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

.body_product_card {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    /* background-color: #f9f9f9; */
}

table {
    width: 100%;
}

table td {
    padding: 10px;
}

.effect_loose {
    padding: 10px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}

/* Define background colors for different delivery statuses */
.effect_loose.bg-red {
    background-color: #FF6C6C;
    /* Red */
}

.effect_loose.bg-green {
    background-color: #4cff4c;
    /* Green */
}

/* Adjust other styles as needed */