.productlist .main_body_product{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    /* margin: 0px 50px; */
    gap: 50px;
}
.productlist .main_body_product p{
    width: 100px;
}

.data_body_workers2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    /* margin: 0px 50px; */
    text-align: center;
    padding-top: 10px;
    border: 1px solid black;
    border-bottom: black;
    border-left: black;
    border-right: black;
}
.data_body_workers2 p{
    width: 100px;
}

.footer_button{
    display: flex;
    justify-content: center;
    margin: 70px 0px 50px 0px;
}


.footer_button button{
    width: 380px;
    height: 50px;
    background-color: #DB4444;
    color: white;
    font-size: 16px;
    border-style: none;
}

.header_medeell_work{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 220px 50px 220px;
}